html
	head
		title
			!{title}
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='../css/common.css')
		link(rel='stylesheet', type='text/css', href='../css/ready.css')
		link(rel='stylesheet', type='text/css', href='../css/cloud.css')
		link(rel='stylesheet', type='text/css', href='../css/mypage.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
		script(src="http://code.jquery.com/jquery-1.7.2.min.js", type="text/javascript")
	body
		#viewport
			#world
		include ../common/header.jade
		include ../common/mainMenu.jade

		#detail03
			#boardTop
			#boardMiddle
				가입하실 때 입력하신 이메일 주소를 입력해 주세요. ( 예)goorm@skima.co.kr )
				form(method='post', action='/find_id/result')
					e-Mail 주소
					input(type='text', id='email', name='email')
					input(type='submit', id='find_id_submit', name='find_id_submit', value='확인', class='clickable')
			#boardBottom

		script(src='../javascript/cloud.js', type='text/javascript', charset='utf-8')
		include ../common/footer.jade

	
		