div.mainMenu
	div#menu01.wrap-menu(value='01')
		div.menu-icon
		div.menu-text 텍스트
		div.menu-arrow 화살표
	div.subMenu
		div#subMenu01-01.wrap-subMenu(value='01')
			div.subMenu-icon
			div.subMenu-text 텍스트
		div#subMenu01-02.wrap-subMenu(value='02')
			div.subMenu-icon
			div.subMenu-text 텍스트
		div#subMenu01-03.wrap-subMenu(value='03')
			div.subMenu-icon
			div.subMenu-text 텍스트
div.mainMenu
	div#menu02.wrap-menu(value='02')
		div.menu-icon
		div.menu-text 텍스트
		div.menu-arrow 화살표
	div.subMenu
		div#subMenu02-01.wrap-subMenu(value='01')
			div.subMenu-icon
			div.subMenu-text 텍스트
		div#subMenu02-02.wrap-subMenu(value='02')
			div.subMenu-icon
			div.subMenu-text 텍스트
		div#subMenu02-03.wrap-subMenu(value='03')
			div.subMenu-icon
			div.subMenu-text 텍스트