form(method='post', action='/user_modify')
	input(type='hidden', id='user_id', value='#{info.Id}')
	!{info.Id}
	br
	-if(info.role == 'admin')
		select(id='user_role')
			option(value='Guest') Guest
			option(value='admin', selected) admin
	-else
		select(name='user_role')
			option(value='Guest', selected) Guest
			option(value='admin') admin 
	br
	input(type='submit', id='user_modify', value='수정')