<<<<<<< HEAD

-for(var i=0; i<result.length; i++)
	-if(result[i])
		p Id : #{result[i].Id}, Name : #{result[i].name}, Role : #{result[i].role}	
=======
p Hello

#{result.length}
>>>>>>> f5151a2e677d64a5144c020bf1e155072705dd99
