include ./subMenu
script(type="text/javascript")
	$("document").ready(function() {
		$("#subMenu4").attr("style", "display: block");
		$(".mainmenu a#menu4").attr("style", "background-image: url('/images/menu/menu04_p.png')");
		
		$("#boardmiddle #readmiddle #readbutton #list").hide(); //attr("onclick", "/manual");
	});