
#detail03 #boardTop #boardTitle {
	width: 80px;
	height: 40px; 
	padding-top: 15px; 
	margin-left: 39px; 
	float: left; 
	background:url('/images/en/board_title/sub03_01.png') no-repeat; 
	background-position: center
}

