
form(action='/sessions', method='POST')
	p
		label(for='id') Id:
		input(type='text', name='id', id='id')
	p
		label(for='password') Password:
		input(type='password', name='password', id='password')
		
	input(type = 'submit', name = 'login', id = 'login', value = '로그인')
