
div(style='width:760px;')
	table
		tr
			th.content No
			th.content Id
			th.content Name
				-for(var i=docs.length; i>=0; i--)
					-if(docs[i-1]){
						tr
							td.content #{i}
							td.content 
								a(href='/board?id=' + docs[i-1].Id) #{docs[i-1].Id}
							td.content #{docs[i-1].name}	
					-}
