html
	head
		title
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='css/common.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='css/cloud.css')
		link(rel='stylesheet', type='text/css', href='css/join.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
		script(src="http://code.jquery.com/jquery-1.7.2.min.js", type="text/javascript")
	body
		#viewport
			#world
		include common/header.jade
		include common/mainMenu.jade
		
		script
			$(document).ready(function(){
				$('#idForm').focus();
				$('#idForm').focusout(function(){
					$.ajax({
						type : 'post'
						, dataType : 'json'
						, url : '/check_id'
						, data : {'ajax_id_form' : $('#idForm').val() }
						, success : function(data) {
								$('#check_id').text(data.content);
								$('#check_id').css('color', data.color); 
							}
						, error : function(data, status, err) {}
					});
				});
				
				$('#pwForm').focusout(function(){
					$.ajax({
						type : 'post'
						, dataType : 'json'
						, url : '/check_password'
						, data : {'ajax_password_form' : $('#pwForm').val() }
						, success : function(data) {
								$('#check_password').text(data.content).css('color', data.color);								 
							}
						, error : function(data, status, err) {}
					});
				});
				
				$('#nameForm').focusout(function(){
					$.ajax({
						type : 'post'
						, dataType : 'json'
						, url : '/check_name'
						, data : {'ajax_name_form' : $('#nameForm').val() }
						, success : function(data) {
								$('#check_name').text(data.content).css('color', data.color); 
							}
						, error : function(data, status, err){	}
					});
				});
				
				$('#emailForm').focusout(function(){
					$.ajax({
						type : 'post'
						, dataType : 'json'
						, url : '/check_email'
						, data : {'ajax_email_form' : $('#emailForm').val() }
						, success : function(data) {
								$('#check_email').text(data.content).css('color', data.color); 
							}
						, error : function(data, status, err) {}
					});
				});	
				
				$('#confirmForm').focusout(function(){
					if( $('#pwForm').val() != $('#confirmForm').val() ) {
						$('#check_confirm').text('입력하신 비밀번호와 일치하지 않습니다.').css('color', 'red');
					}
					else {
						$('#check_confirm').text('입력하신 비밀번호와 일치합니다.').css('color', 'green');
					}
				})
			});



		#detail02
			#boardTop
				#boardTitle 회원가입
			#boardMiddleJoin
				#contents
					form(method='post', action='/makeAccount', id='frm')
						table.info(border='1',cellspacing='0',style='font-size:12px;')
							caption
								span.c1
									span.c2 기본정보
										span.required
											strong *
							tr
								th 아이디
									em.require(style='color:red')	 *
								td.wide
									input(
										type = 'textbox'
										,name = 'idForm'
										,id = 'idForm'			
									)
									br
									#check_id(style = 'display : inline;') 4~15자리, 알파벳+숫자
							tr.odd
								th 비밀번호
									em.require(style='color:red')	 *
								td.wide
									input(
										type = 'password'
										,name = 'pwForm'
										,id = 'pwForm'			
									)
									br
									#check_password(style = 'display : inline;') 8~15자리, 알파벳과 숫자의 조합
							tr
								th 비밀번호 확인
									em.require(style='color:red')	 *
								td.wide
									input(
										type = 'password'
										,name = 'confirmForm'
										,id = 'confirmForm'
										,style = 'display : "inline";'			
									)
									br
									#check_confirm(style = 'display : inline;') 비밀번호를 다시 한 번 입력해 주세요.
							tr.odd
								th 이름
									em.require(style='color:red')	 *
								td.wide
									input(
										type = 'textbox'
										,name = 'nameForm'
										,id = 'nameForm'
										,style = 'display : inline;'			
									)
									br
									#check_name(style = 'display : inline;') 3~15자리, 알파벳 + 숫자 + 특수문자(-/_/.)						
							tr
								th 이메일
									em.require(style='color:red')	 *
								td.wide
									input(
										type = 'textbox'
										,name = 'emailForm'
										,id = 'emailForm'
										,style = 'display:inline;'			
									)
									br
									#check_email(style = 'display : inline;') 예) goorm@skima.co.kr												
						#join_button(align='center')
							input(
								type = 'submit'
								,name = 'loginButton'
								,id = 'loginButton2'
								,value = '회원가입'
							)
			#boardBottom
		include common/footer.jade
		script(src='/javascript/cloud_root.js', type='text/javascript', charset='utf-8')