
form(method='post', action='/makeAccount')
	label ID
		input(
			type = 'textbox'
			,name = 'idForm'
			,id = 'idForm'			
		)
	br
		
	label	Password
		input(
			type = 'password'
			,name = 'pwForm'
			,id = 'pwForm'
		)
	br
	
	label	Password Confirm
		input(
			type = 'password'
			,name = 'confirmForm'
			,id = 'confirmForm'
		)
		
	br	
	
	label	Name
		input(
			type = 'textbox'
			,name = 'nameForm'
			,id = 'nameForm'
		)
	br


	label	Email
		input(
			type = 'textbox'
			,name = 'emailForm'
			,id = 'emailForm'
		)
	br
	
	input(
		type = 'submit'
		,name = 'loginButton'
		,id = 'loginButton'
		,value = '회원가입'
	)
