
form(method='post', action='/makeAccount')
	label ID
		input(
			type = 'textbox'
			,name = 'idForm'
			,id = 'idForm'			
		)
	br
		
	label	Password
		input(
			type = 'password'
			,name = 'pwForm'
			,id = 'pwForm'
		)

	br	
	
	label	Name
		input(
			type = 'textbox'
			,name = 'nameForm'
			,id = 'nameForm'
		)
	br
<<<<<<< HEAD


	label	Email
		input(
			type = 'textbox'
			,name = 'emailForm'
			,id = 'emailForm'
		)
	br
=======
>>>>>>> f5151a2e677d64a5144c020bf1e155072705dd99
	
	input(
		type = 'submit'
		,name = 'loginButton'
		,id = 'loginButton'
		,value = '회원가입'
	)
