h1= title
form(action='/board_write', method='POST')
	table
		tr
			td.content Subject
			td.content 
				input(type='text', name='subject', id='subject')
		tr
			td.content Name
			td.content 
				input(type='text', name='name', id='name')
		tr
			td.content Memo
			td.content 
				textarea(name='memo', id='memo')
		tr
			td.content(colspan='2') 
				input(type='hidden', name='id', value='#{id}')
				input(type='submit')