h1= title
form(action='/board_write', method='POST')
	p
		label subject:
		input(type='text', name='subject', id='subject')
	p
		label name:
		input(type='text', name='name', id='name')
	p
		label memo:
		input(type='text', name='memo', id='memo')
	p
		input(type='submit');