#contents .info {
	width : 771px;
	color : #666;
	border : 0;
	font-family: gulim, 굴림, sans-serif;
	font-size: 9pt;

}
#contents .info caption {
	padding : 10px 0 0;
	text-align : left;
	color : black;
	font-weight : bold;
	font-size: 9pt;
	
}
#contents .info caption .c1 {
/* 	padding : 1px 0; */
/* 	margin : 0 1px; */
	background: url("../../images/boardHeadBackground.png");
	display : block;
}
#contents .info caption .c2 {
	display : block;
	padding : 10px 0 11px 20px;
/* 	margin : 0 -1px; */
}
#contents .info caption .required {
	font-weight : normal;
}
#contents .info tr {
	border-bottom: 1px solid #eee
}

#contents .info tr.odd {
	background : #FAFAFA;
}
#contents .info th {
	width : 140px;
	text-align : left;
}
#contents .info th, #contents .info td {
	border : 0;
	padding : 7px 20px;
}
#contents .info th em.require {
	color : #624cd4;
	font-style : normal;
}

#contents .textbox{
	background : url('/images/input_textbox_type2.png') no-repeat;
	width : 167px;
	height : 25px;
	border : 0px;
	outline : none;
	float : left;
	padding-left: 20px;
	padding-right: 20px;
}
#contents .text{
	margin-top: 5px;
	margin-left: 5px;
}

#detail02 {
	width : 876px;
	position : relative;
	left : 50%;
	margin-left : -438px;
	margin-top : 30px;
}
#detail02 #boardTop {
	background-image : url('/images/boardTop_870px.png');
	height : 55px;
	width : 876px;
}
#detail02 #boardTop #boardTitle {
	width: 60px;
	height : 40px;
	padding-top : 15px;
	margin-left : 60px;
	float : left;
	background : url('/images/board_title/join_01.png') no-repeat;
	background-position : center;
}
#detail02 #boardMiddle {
	background-image : url('/images/boardMiddle_870px.png');
	width : 776px;
	padding : 10px 50px;
}

#detail02 #boardMiddle #wrap {
	width : 230px;
	margin-left : 33px;
	float : left;
	padding-top : 10px;
	padding-bottom : 10px;
}
#detail02 #boardMiddle #wrap #title {
	color : #334d66;
	font-family : 'NanumGorhicWeb';
	font-size : 11pt;
	height : 40px;
	font-weight: bold;
}
#detail02 #boardMiddle #wrap #images {
	width : 228px;
	height : 38px;
	border : #dfdfdf solid 1px;
	margin : 5px 0 10px 0;
}
#detail02 #boardMiddle #wrap #contents {
	color : black;
	font-family : 'NanumGorhicWeb';
	font-size : 9pt;
	text-align: justify;
}
#detail02 #boardBottom {
	background-image : url('/images/boardBottom_870px.png');
	height : 34px;
	width : 876px;
}

