#boardMiddle #readHeader {
	width : 771px;
	height : 26px;
	padding-top : 10px;
	background : url("../../images/boardHeadBackground.png");
	margin-bottom : 8px;
}
#boardMiddle #readHeader #titleWrap {
	width : 771px;
	height : 16px;
}
#boardMiddle #readHeader #title {
	color : black;
	font-family : 'NanumGorhicWeb';
	font-size : 10pt;
	text-decoration : none;    
	opacity : 1;
	margin : 0 3px;
	margin-left : 20px;
	font-weight : bold;
	float : left;
}
#boardMiddle #readHeader #time {
	float : right;
	margin-right : 20px;
}

#boardMiddle #readHeader #information{
	width: 750px; 
	height:20px; 
	padding-top:5px; 
	background: black; 
	margin: 0 auto; 
	margin-top:7px; 
	opacity: 0.6; 
	margin-bottom: 30px;
	-moz-border-radius-bottomleft:3px; 
	-moz-border-radius-bottomright:3px; 
	-webkit-border-bottom-left-radius:3px; 
	-webkit-border-bottom-right-radius:3px; 
	border-bottom-left-radius:3px; 
	border-bottom-right-radius:3px;
}
#boardMiddle #readHeader #information #author {
	font-size : 9pt;
	color : white;
	float : left;
	margin-left : 30px;
}
#boardMiddle #readHeader #information #author a {
	color : white;
	text-decoration : none;
}
#boardMiddle #readHeader #information #author a:hover {
	text-decoration : underline;
}
#boardMiddle #readHeader #information #author a:visited {
	color : white;
	text-decoration : none;
}

#boardMiddle #readHeader #information #readNum {
	font-size : 9pt;
	color : white;
	float : right;
	margin-right : 30px;
}

#boardMiddle #readMiddle {
	margin-top : 40px;

	font-size : 10pt;
}

#boardMiddle #readMiddle #readContent{
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 300px;
	padding : 0 20px;	
}

#boardMiddle #readMiddle #readButton{
	width: 100px;
	margin: 0 auto;
}

#boardMiddle #readMiddle #readButton #list{
	cursor:hand;
	position: absolute;
	left: 53px;
}

#boardMiddle #readMiddle #readButton #modify{
	cursor:hand;
	position: absolute;
	right:83px;
}

#boardMiddle #readMiddle #readButton #delete{
	cursor:hand;
	position: absolute;
	right:129px;
}

#boardMiddle #readMiddle #readCommentList {
	position:relative;
	width : 771px;

}
#boardMiddle #readMiddle #readCommentList #commentTop {
	width : 771px;
	height : 11px;
	background : url("../../images/board/boardCommentBackground_top.png");
}
#boardMiddle #readMiddle #readCommentList #commentMiddle {
	width : 731px;
	padding : 0 20px;
	background : url("../../images/board/boardCommentBackground_middle.png") repeat-y;
	
}
#boardMiddle #readMiddle #readCommentList #commentBottom {
	width : 771px;
	height : 35px;
	line-height: 35px;
	text-align: center;
	background : url("../../images/board/boardCommentBackground_bottom.png");
	
}
#boardMiddle #readMiddle #readCommentList #readCommentListTop {
/* 	padding:10px; */
	width: 711px;
	height: 25px;
	line-height: 25px;
	padding: 8px 10px 0;

/* 	height: 30px; */
/* 	margin-top: 10px; */
}

#boardMiddle #readMiddle #readCommentList #readCommentListTop #CommentUser {
/* 	width: 310px; */
/* 	height: 30px; */
	font-size: 10pt;
	float : left;
	color: #ED2B0B;
	
}

#boardMiddle #readMiddle #readCommentList #readCommentListTop #CommentDate {

	font-size: 9pt;
	color: gray;
/* 	height: 30px;	 */
	float : left;
}

#boardMiddle #readMiddle #readCommentList #readCommentListTop #CommentModify {
/* 	width:50px; */
/* 	height: 30px; */
	float : right;
}

#boardMiddle #readMiddle #readCommentList #readCommentListTop #CommentDelete {
/* 	width:50px; */
/* 	height: 30px; */
	float : right;
}

#boardMiddle #readMiddle #readCommentList #readCommentListBottom {
	width: 711px;
	line-height: 20px;
	padding: 0 10px 12px;
	border-bottom: 1px dotted gray;
	font-size: 9pt;
	color: black;
}


#boardMiddle #readMiddle #readCommentList #readCommentPaging a{ 
	color:black; 
	font-family: 'NanumGorhicWeb'; 
	font-size: 9pt; 
	text-decoration: none; 
	opacity: 0.6; 
	margin: 0 3px
}
#boardMiddle #readMiddle #readCommentList #readCommentPaging a.select{
	font-size: 12pt; 
	color: #ed2b0b; 
	font-weight: bold; 
	opacity: 1 
}
#boardMiddle #readMiddle #readCommentList #readCommentPaging a span{
	margin-top: -3px
}
#boardMiddle #readMiddle #readCommentList #readCommentPaging a:hover{
	opacity: 1
}



#boardMiddle #readMiddle #readCommentList .lastComment #readCommentListBottom {
	border-bottom: none;
	
}

#boardMiddle #NoSession {
	margin-top: 70px;
	text-align: center;
}

#boardMiddle #readFooter {
	width: 750px; 
	height:117px; 
	padding: 20px 0; 
	background: black;
	margin: 0 auto; 
	margin-top: -4px; 
	opacity: 0.6; 
	margin-bottom: 30px;
	margin-top:10px;
	-moz-border-radius-bottomleft:3px; 
	-moz-border-radius-bottomright:3px; 
	-webkit-border-bottom-left-radius:3px; 
	-webkit-border-bottom-right-radius:3px; 
	border-bottom-left-radius:3px; 
	border-bottom-right-radius:3px;
	border-top-left-radius:3px; 
	border-top-right-radius:3px;
}

#boardMiddle #readFooter #CommentAttach { 
	margin: 0 auto;
	width: 650px;
}

#boardMiddle #readFooter #CommentAttach #commentUser{
	color: white;
	font-size: 10pt;
	margin-right: 10px; 
	vertical-align: top;
	padding-top: 10px;
	width: 100px;
}
#boardMiddle #readFooter #CommentAttach #commentContent{
	width: 480px;
	
}
#boardMiddle #readFooter #CommentAttach #commentContent #commentForm{
	width: 480px;
	height: 110px;
	border: 1px solid black
	
}

#boardMiddle #readFooter #CommentAttach #commentSubmit{
	width: 70px;
}
#boardMiddle #readFooter #CommentAttach #CommentWriteButton{
	cursor:hand;
}
