#boardMiddle #editorHeader {
	width : 771px;
	height : 36px;
	background : url("../../images/boardHeadBackground.png");
	margin-bottom : 8px;
}
#boardMiddle #editorHeader #subject {
	width : 400px;
	height : 20px;
	border : #eee solid 1px;
	margin-top : 8px;
	margin-left : 20px;
	display : inline;
}
#boardMiddle #editorFooter {
	width : 51px;
	height : 28px;
	margin : 0 auto;
}
#detail03 {
	width : 876px;
	position : relative;
	left : 50%;
	margin-left : -438px;
	margin-top : 10px;
}
#detail03 #boardTop {
	background-image : url('../../images/boardTop_870px.png');
	height : 55px;
	width : 876px;
}
#detail03 #boardTop #boardTitle {
	font-size : 11pt;
	color : black;
	font-family : 'NanumGothicWeb';
	text-align : center;
	height : 40px;
	padding-top : 15px;
	margin-left : 39px;
	float : left;
	background : url('../../images/boardTitleBackground.png') no-repeat;
	background-position : center;
}
#detail03 #boardMiddle {
	background-image : url('../../images/boardMiddle_870px.png');
	height : 600px;
	width : 776px;
	padding : 0 50px;
}
#detail03 #boardBottom {
	background-image : url('../../images/boardBottom_870px.png');
	height : 34px;
	width : 876px;
}

/*
#detailWrap{ width:876px; height:279px; position:relative; left:50%; margin-left:-438px; margin-top: 20px }
#detail03{ width:486px; float:left}
#detail03 #boardTop { background-image:url('../images/boardTop_480px.png'); height:55px; width:486px; }
#detail03 #boardTop #boardTitle {font-size:11pt; color: black; font-family:'NanumGothicWeb'; background:url('../images/boardTitleBackground.png') no-repeat; width: 100px; text-align:center; height: 40px; padding-top: 15px; margin-left: 20px; background-position: center;}
#detail03 #boardMiddle {background-image:url('../images/boardMiddle_480px.png'); height:170px; width:386px; padding: 0 50px }
#detail03 #boardMiddle #wrap { width: 376px; margin-left: 10px; float: left; padding-top: 10px; padding-bottom: 10px }
#detail03 #boardMiddle #wrap #title { color:#334d66; font-family: 'NanumGorhicWeb'; font-size: 11pt; height: 40px; vertical-align: middle; display: table-cell  }
#detail03 #boardMiddle #wrap #images {width:228px; height: 38px; border:1px solid #dfdfdf; margin:5px 0 10px 0}
#detail03 #boardMiddle #wrap #contents { color:black; font-family: 'NanumGorhicWeb'; font-size: 9pt;  }
#detail03 #boardBottom {background-image:url('../images/boardBottom_480px.png'); height:34px; width:486;}


#detail04{ width:370px; margin-left:20px; float:left }
#detail04 #boardTop { background-image:url('../images/boardTop_370px.png'); height:55px; width:370px; }
#detail04 #boardTop #boardTitle.select {font-size:11pt; color: black; font-family:'NanumGothicWeb'; background:url('../images/boardTitleBackground.png') no-repeat; width: 100px; text-align:center; height: 40px; padding-top: 15px; margin-left: 20px; background-position: center; float: left}
#detail04 #boardTop #boardTitle {font-size:11pt; color: black; font-family:'NanumGothicWeb';no-repeat; width: 100px; text-align:center; height: 40px; padding-top: 15px; margin-left: 20px; float: left}
#detail04 #boardMiddle {background-image:url('../images/boardMiddle_370px.png'); height:170px; width:270px; padding: 0 50px }
#detail04 #boardBottom {background-image:url('../images/boardBottom_370px.png'); height:34px; width:370px;}
*/
