include ./subMenu
script(type="text/javascript")
	$("document").ready(function() {
		$("#subMenu1").attr("style", "display: block");
		$(".mainmenu a#menu1").attr("style", "background-image: url('/images/menu/menu01_p.png')");
	});
