#detail01{ width:876px; position:relative; left:50%; margin-left:-438px; margin-top: 70px }
#detail01Text{width:876px;	text-shadow: 0 -1px 0 rgba( 0, 0, 0, .2 ); text-align: center; margin-top:0px; z-index: 3;}
#detail01Text #title {font-size: 40pt; font-family:'NanumPenWeb'; color: white; margin-top:0px ;margin-bottom:10px;}
#detail01Text #contents {width:556px; font-size:11pt; color: #acc6e3; font-family:gulim, 굴림, sans-serif; margin-bottom: 20px; padding:0 160px; text-shadow: 1px 1px rgba(0,0,0,0.5); line-height:1.2}

#detail02{ width:876px; position:relative; left:50%; margin-left:-438px; margin-top: 80px }
#detail02 #boardTop { background-image:url('../../images/boardTop_870px.png'); height:55px; width:876px; }
#detail02 #boardTop #boardTitle {width: 85px; height: 40px; padding-top: 15px; margin-left: 43px; float: left; background:url('../../images/board_title/sub02_01.png') no-repeat; background-position: center}
#detail02 #boardMiddle {background-image:url('../../images/boardMiddle_870px.png'); width:776px; padding: 0 50px 20px 50px  }
#detail02 #boardBottom {background-image:url('../../images/boardBottom_870px.png'); height:34px; width:876px;}


#detail03 { width:876px; position:relative; left:50%; margin-left:-438px; margin-top: 80px }
#detail03 #boardTop { background-image:url('../../images/boardTop_870px.png'); height:55px; width:876px; }
#detail03 #boardTop #boardTitle {width: 80px; height: 40px; padding-top: 15px; margin-left: 46px; float: left; background:url('../../images/board_title/sub02_02.png') no-repeat; background-position: center}
#detail03 #boardMiddle {background-image:url('../../images/boardMiddle_870px.png'); width:776px; padding: 0 50px 20px 50px  }
#detail03 #boardBottom {background-image:url('../../images/boardBottom_870px.png'); height:34px; width:876px;}

