html
	head
		title
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='../css/common.css')
		link(rel='stylesheet', type='text/css', href='../css/sub03/sub01.css')
		link(rel='stylesheet', type='text/css', href='../css/cloud.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
	body(oncontextmenu="return false",onselectstart="return false",ondragstart="return false")
		#viewport
			#world
		include ../common/header.jade
		include ../common/mainMenu.jade
		include ../common/subMenu/subMenu03.jade
		#detail03
			#boardTop
				#boardTitle 자유게시판
			#boardMiddle
				#boardList
					table(cellspacing='0')
						thead
							tr
								th.no 번호
								th.title 제목
								th.author 글쓴이
								th.time 날짜
								th.readNum 조회수
						tbody
							tr
								td.no 5
								td.title
									a(href='view.html') 트위터 아이폰앱도 확 바뀐다
									a.replyNum(href='#') [31]
								td.author
									a(href='#') 조은귀
								td.time 12.07.09
								td.readNum 12
							tr
								td.no 4
								td.title
									a(href='view.html') KT 유클라우드 ‘자동확장’ 서비스 ‘OK’
									a.replyNum(href='#') [3]
								td.author
									a(href='#') 조은귀
								td.time 12.07.09
								td.readNum 12
							tr
								td.no 3
								td.title
									a(href='view.html') [현장] SW 올림픽, 한국·일본 ‘눈에 띄네’
									a.replyNum(href='#') [13]
								td.author
									a(href='#') 조은귀
								td.time 12.07.09
								td.readNum 12
							tr
								td.no 2
								td.title
									a(href='view.html') 삼성 스마트TV, 동작・음성인식 앱 개발 지원
									a.replyNum(href='#') [1]
								td.author
									a(href='#') 조은귀
								td.time 12.07.07
								td.readNum 8342
							tr
								td.no 1
								td.title
									a(href='view.html') 구글 글래스, 아이폰 이후 최고의 개발자 플랫폼?
									a.replyNum(href='#') [3]
								td.author
									a(href='#') 조은귀
								td.time 12.07.05
								td.readNum 63812
				#boardFooter
					#pagination
						a(href='')
							img(src='../images/button_forward.png')
							span 처음 페이지
						| |
						a(href='') 1
						| |
						a(href='') 2
						| |
						a.select(href='') 3
						| |
						a(href='') 4
						| |
						a(href='') 5
						| |
						a(href='')
							span 마지막 페이지
							img(src='../images/button_backward.png')
					#search
						select(name='test')
							option(selected='selected') test
						input#searchInputBox(type='text')
						a(href='')
							img#searchButton(src='../images/button_search.png')
					a(href='write.html')
						img#writeButton(src='../images/button_write.png')
			#boardBottom
		script(src='../javascript/cloud.js', type='text/javascript', charset='utf-8')
		include ../common/footer.jade