#subMenu
	ul.submenu
		li.submenu
			a#menu1(href='/board/sub3_1') 게시판
		li.submenu
			a#menu2(href='/sub03/sub02') 게시판 메뉴 2
		li.submenu
			a#menu3(href='/sub03/sub03') 게시판 메뉴 3
		li.submenu
			a#menu4(href='/sub03/sub04') 게시판 메뉴 4
