#subMenu1
	ul.submenu
		li.submenu
			a#menu1_1.short(href='/intro/overview') 소개
		li.submenu
			a#menu1_2.short(href='/intro/features') 특징
		li.submenu
			a#menu1_3.short(href='/intro/videos') 데모
		li.submenu
			a#menu1_4.short(href='/intro/license') 라이센스
		li.submenu
			a#menu1_5.short(href='/intro/history') 히스토리
			
#subMenu2
	ul.submenu
		li.submenu
			a#menu2_1.short(href='/support/care') 기술지원
		li.submenu
			a#menu2_2.long(href='/support/faq') 자주 묻는 질문
			
#subMenu3
	ul.submenu
		li.submenu
			a#menu3_1.long(href='/community/freeboard') 자유게시판
		li.submenu
			a#menu3_2.short(href='/community/qna') 질문 게시판
		li.submenu
			a#menu3_3.long(href='/community/tip') 사용자 팁/노하우
		li.submenu
			a#menu3_4.short(href='/community/notice') 공지사항
		li.submenu
			a#menu3_5.short(href='/community/news') 보도사항

#subMenu4
	ul.submenu
		li.submenu
			a#menu4_1.short(href='/usage/install') 설치
		li.submenu
			a#menu4_2.short(href='/usage/manual') 메뉴얼
			
#subMenu5
	ul.submenu
		li.submenu
			a#menu5_1.short(href='/download/source') 소스코드
		li.submenu
			a#menu5_2.short(href='/download/plugin') 플러그인
		li.submenu
			a#menu5_3.short(href='/download/skin') 스킨
			
