include ./subMenu
script(type="text/javascript")
	$("document").ready(function() {
		$("#subMenu1").attr("style", "display: block");
		$(".mainmenu a#menu1").attr("style", "background-image: url('/images/menu/menu01_p.png')");
	});
	
-if(typeof(board_id) != 'undefined')
	script
		$("document").ready(function() {
			if("!{board_id}"=="notice")
				$("#menu1_5").attr("style", "opacity:1");
			else if("!{board_id}"=="news")
				$("#menu1_6").attr("style", "opacity:1");
		});