include ./subMenu
script(type="text/javascript")
	$("document").ready(function() {
		$("#subMenu2").attr("style", "display: block");
		$(".mainmenu a#menu2").attr("style", "background-image: url('/images/menu/menu02_h.png')");
	});