html
	head
		title
			!{title}
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='../css/common.css')
		link(rel='stylesheet', type='text/css', href='../css/sub02/sub01.css')
		link(rel='stylesheet', type='text/css', href='../css/cloud.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
	body(oncontextmenu="return false",onselectstart="return false",ondragstart="return false")
		#viewport
			#world
		include ../common/header.jade
		include ../common/mainMenu.jade
		include ../common/subMenu/subMenu02.jade
		script(type="text/javascript")
			$("document").ready(function() {
				$("#menu2_1").attr("style", "opacity:1");
			});
	
		#detail01
			#detail01Text
				#title 메뉴얼 다운로드
				#contents
					| 구름에 일반적인 사용에 대한 안내를 위한 구름 사용자 메뉴얼과 플러그인 개발 및 모듈 개발에 대한 안내를 위한 구름 개발자 메뉴얼을 다운 받을 수 있습니다.
		
		#detail02.userManual
			#boardTop
				#boardTitle 사용자 메뉴얼
			#boardMiddle	 
			#boardBottom
				
		#detail02.developerManual
			#boardTop
				#boardTitle 개발자 메뉴얼
			#boardMiddle	 
			#boardBottom

		script(src='../javascript/cloud.js', type='text/javascript', charset='utf-8')
		include ../common/footer.jade