html
	head
		title
			!{title}
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='../css/common.css')
		link(rel='stylesheet', type='text/css', href='../css/ready.css')
		link(rel='stylesheet', type='text/css', href='../css/cloud.css')
		link(rel='stylesheet', type='text/css', href='../css/findUserInfoResult.css')
		link(rel='shortcut icon', href='/images/favicon.gif')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
		script(src="http://code.jquery.com/jquery-1.7.2.min.js", type="text/javascript")
		script(src='/javascript/common.js', type='text/javascript', charset='utf-8')
		script(src='/javascript/submit_enter.js', type='text/javascript', charset='utf-8')	
		
	body
		#viewport
			#backgrounds
				img(src='/images/cloud/cloud_01.png', style='width: 630px; opacity:0.3; position:absolute; top:230; left:50%; margin-left:-730px;')
				img(src='/images/cloud/cloud_02.png', style='width: 630px; opacity:0.4; position:absolute; top:30; left:50%; margin-left:220px;')
				img(src='/images/cloud/cloud_03.png', style='width: 740px; opacity:0.2; position:absolute; top:730; left:50%; margin-left:-820px;')
				img(src='/images/cloud/cloud_03.png', style='width: 630px; opacity:0.5; position:absolute; top:930; left:50%; margin-left:220px;')
				img(src='/images/cloud/cloud_04.png', style='width: 630px; opacity:0.5; position:absolute; top:430; left:50%; margin-left:500px;')

			#world(style='opacity:0.7')
		include ../common/header.jade
		include ../common/mainMenu.jade

		#detail01
			#detail01Text
				#title 회원 정보 찾기
				#contents
					| 아이디 혹은 비밀번호를 잊어버리셨다구요?
		#detail02
			#boardTop
				#boardTitle 아이디 찾기 결과
			#boardMiddle
				#wrap1
					귀하의 아이디는 
					span#userID 
						!{result} 
					입니다
				#wrap2
					#findPw
						input(type='image', id = 'findPwButton', name = 'getStarted', src='/images/button_findPw.png', onclick="location.href='/find_password'")
					#goToMain
						input(type='image', id = 'goToMainButton', name = 'goToMain', src='/images/button_goToMain.png', onclick="location.href=''")				

			#boardBottom

		script(src='../javascript/cloud.js', type='text/javascript', charset='utf-8')
		include ../common/footer.jade
