#mainMenu
	a#logo(href='/')
	ul.mainmenu
		a#paddinglogo(href='/')
		li.mainmenu
			a#menu1(href='/sub01/sub01') goorm 소개
		li.mainmenu
			a#menu2(href='/sub02/sub01') 지원
		li.mainmenu
			a#menu3(href='/board/sub3_1') 커뮤니티
		li.mainmenu
			a#menu4(href='/sub04/sub01') 사용방법
		li.mainmenu
			a#menu4(href='/sub05/sub01') 다운로드