#mainMenu
	a#logo(href='/')
	ul.mainmenu
		a#paddinglogo(href='/')
		li.mainmenu
			a#menu1(href='/intro/overview') goorm 소개
		li.mainmenu
			a#menu2(href='/support/care') 지원
		li.mainmenu
			a#menu3(href='/community/freeboard') 커뮤니티
		li.mainmenu
			a#menu4(href='/usage/install') 사용방법
		li.mainmenu
			a#menu5(href='/download/source') 다운로드