#boardMiddle #boardList {
	margin:0 3px;
	width: 766px;
}
#boardMiddle #boardList th {
	padding: 10px 0 11px 0 ;
	text-align: center;
	color:black; 
	font-family: 'NanumGorhicWeb'; 
	font-size: 9pt; font-weight: bold; 
}
#boardMiddle #boardList th.no { 
	width: 56px; 
	text-align: center; 
	background: url("../../images/boardHeadBackground_left.png")
}
#boardMiddle #boardList th.title { 
	width: 440px; 
	text-align: center; 
	background: url("../../images/boardHeadBackground_middle.png") repeat-x
}
#boardMiddle #boardList th.author { 
	width: 100px; 
	text-align: center;
	background: url("../../images/boardHeadBackground_middle.png") repeat-x
}
#boardMiddle #boardList th.time { 
	width: 96px; 
	text-align: center;
	background: url("../../images/boardHeadBackground_middle.png") repeat-x
}
#boardMiddle #boardList th.readNum { 
	width: 74px; 
	text-align: center; 
	background: url("/images/boardHeadBackground_right.png")
}

#boardMiddle #boardList tbody tr:hover{
	background: #fafafa
}

#boardMiddle #boardList td {
	padding: 8px 10px; 
	color:black; 
	font-family: 'NanumGorhicWeb'; 
	font-size: 9pt; 
	font-weight: normal; 
	border-bottom: 1px solid #eee
}

#boardMiddle #boardList td a:link{
	color:black; 
	text-decoration: none
}
#boardMiddle #boardList td a:visited{
	color: #666666; 
	text-decoration: none
}

#boardMiddle #boardList td.no { 
	text-align: center;
}

#boardMiddle #boardList td.title { 
	text-align: left; 
	padding-left: 10px
}
#boardMiddle #boardList td.title a:hover { 
	color:black; 
	text-decoration: underline
}
#boardMiddle #boardList td.title .replyNum { 
	margin-left: 6px; 
	color: #ed2b0b
}
#boardMiddle #boardList td.title .replyNum:hover { 
	color: #ed2b0b
}

#boardMiddle #boardList td.author { 
	text-align: center
}
#boardMiddle #boardList td.author a:hover { 
	color:black; 
	text-decoration: underline
}

#boardMiddle #boardList td.time { 
	text-align: center;
/* 	width: 64px; */
}

#boardMiddle #boardList td.time p { 
	text-align: center;
/* 	width: 64px; */
}

#boardMiddle #boardList td.readNum { 
	text-align: center;
}

#boardFooter { 
	margin-top: 20px;
	color:black; 
	font-family: 'NanumGorhicWeb';
	text-align:center;
}


#boardFooter #list{
	margin-top: -4px;
	float:left;
	margin-left: 12px;
}

#boardFooter #write{
	margin-top: -4px;
	float:right;
	margin-right: 12px;
}

#boardFooter #pagination { 
	margin-bottom: 30px;
}
#boardFooter #pagination a{ 
	color:black; 
	font-family: 'NanumGorhicWeb'; 
	font-size: 9pt; 
	text-decoration: none; 
	opacity: 0.6; 
	margin: 0 3px
}
#boardFooter #pagination a.select{
	font-size: 12pt; 
	color: #ed2b0b; 
	font-weight: bold; 
	opacity: 1 
}
#boardFooter #pagination a span{
	margin-top: -3px
}
#boardFooter #pagination a:hover{
	opacity: 1
}

#boardFooter #pagination img {
	width: 10px;
	height: 10px; 
	margin: 0 5px
}

#boardFooter #search {
	width: 370px; 
	height: 26px; 
	margin: auto;
}
#boardFooter select {
	float:left
}
#boardFooter #searchInputBox { 
	width:200px; 
	height:18px; 
	border: 1px solid gray; 
	float: left; 
	margin-left: 10px; 
	margin-top:2px
}
#boardFooter #searchButton {
	float:left; 
	margin: -2px 0 0 10px
}

#boardFooter #writeButton {
	float:right; 
	cursor : hand;
}
/* #boardFooter a:link{color:black; text-decoration: none} */


#detail03{ 
	width:876px; 
	position:relative; 
	left:50%; 
	margin-left:-438px; 
	margin-top: 70px 
}
#detail03 #boardTop { 
	background-image:url('../../images/boardTop_870px.png'); 
	height:55px; 
	width:876px; 
}
#detail03 #boardTop #boardTitle {
	font-size:11pt; 
	color: black; 
	font-family:gulim, 굴림, sans-serif; 
	text-align:center; 
	height: 40px; 
	padding-top: 15px; 
	margin-left: 39px; 
	float: left; 
	background:url('../../images/boardTitleBackground.png') no-repeat; 
	background-position: center
}
#detail03 #boardMiddle {
	background-image:url('../../images/boardMiddle_870px.png'); 
	width:772px; 
	padding: 0 52px 30px 52px  
}
#detail03 #boardBottom {
	background-image:url('../../images/boardBottom_870px.png'); 
	height:34px; 
	width:876px;
}

#search {
	padding: 7px 12px 4px 20px;
	background-color: whiteSmoke;
	border-radius: 10px;
}
