html
	head
		title
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='../css/common.css')
		link(rel='stylesheet', type='text/css', href='../css/ready.css')
		link(rel='stylesheet', type='text/css', href='../css/cloud.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
		script(src="http://code.jquery.com/jquery-1.7.2.min.js", type="text/javascript")
		script
			$(document).ready(function(){
				if( 101 == authed ) {
					$('#mypage_menu1).click(function(){
						$.post('/mypage/inform');
					});
					$('#mypage_menu2).click(function(){
						$.post('/mypage/recent_docs');
					});
					$('#mypage_menu3).click(function(){
						$.post('/mypage/recent_comm');
					});
				}
				else {
					$('#mypage_menu1).click(function(){
						$.get('/mypage');
					});
					$('#mypage_menu2).click(function(){
						$.get('/mypage');
					});
					$('#mypage_menu3).click(function(){
						$.get('/mypage');
					});
				}
			})
	body
		#viewport
			#world
		include ../common/header.jade
		include ../common/mainMenu.jade

		#detail03
			#boardTop
				ul
					a#paddinglogo(href='/')
					li
						a#mypage_menu1(href='') 회원정보수정
					li
						a#mypage_menu2(href='') 작성 글 목록
					li
						a#mypage_menu3(href='') 작성 코멘트 목록
			#boardMiddle
				#content
					form(method='post', action='/mypage/inform')
						비밀번호 
						input(type='password', id='mypage_password', name='mypage_password')
						input(type='submit', id='mypage_submit_button', name='mypage_submit_button', value='확인')
			#boardBottom

		script(src='../javascript/cloud.js', type='text/javascript', charset='utf-8')
		include ../common/footer.jade
