
div(style='width:760px;')
	table
		tr
			th.content No
			th.content id
			th.content Name
				-for(var i=docs.length; i>=0; i--)
					-if(docs[i-1]){
						tr
							td.content #{i}
							td.content 
								a(href='/board/' + docs[i-1].id) #{docs[i-1].id}
							td.content #{docs[i-1].name}	
					-}
	input( type ='button', id='logout_button', value='Logout', onClick='location.href="/logout"')
	