html
  head
    title
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='/css/common.css')
    link(rel='stylesheet', type='text/css', href='/css/sub03/write.css')
    link(rel='stylesheet', type='text/css', href='/css/cloud.css')
    link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
    link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/lib/daumeditor-7.3.19/css/editor.css", type="text/css", charset="utf-8")
  body
    #viewport
      #world
    
    include ../common/header
    include ../common/mainMenu
    include ../common/subMenu/subMenu03.jade

    script(src="/lib/daumeditor-7.3.19/js/editor_loader.js?environment=development", type="text/javascript", charset="utf-8")
    script(type='text/javascript')
      var default_content = '제목을 입력하세요';
      function form_delete(){
        if(default_content == document.tx_editor_form.subejct.value)
          frm.value = "";
      }
    script(type='text/javascript')
      function preview(){
        OpenWindow('', 'newWin', 850, 450);
        var frm = document.getElementById('tx_editor_form'); 
    
        frm.action = '/board_preview';
        frm.target = 'newWin';
        frm.submit();
        
        frm.action='/board_write';
        frm.target = '_self';
      }
      function submit(){
        saveContent();
      }
  
    form(name="tx_editor_form", id="tx_editor_form", action="/board_write", method="post", accept-charset="utf-8")
      div#detail03
        div#boardTop
          div#boardTitle= title
        div#boardMiddle
          div#editorHeader
            input(type='text',value='제목을 입력하세요', id='subject', name='subject', onFocus='form_delete()')
          div#editorMiddle
            include ../../public/lib/daumeditor-7.3.19/editor.html      
          div#editorFooter
            input(type='hidden', name='id', value='#{id}')
            input(type='button', onclick='javascript:preview();', value='미리보기')
            a(href='javascript:submit();')
              img#submitButton(src='../images/button_submit.png')
        div#boardBottom 
    include ../common/footer
    script(src='/javascript/cloud.js', type='text/javascript', charset='utf-8')    