html
	head
		title
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='/css/common.css')
		link(rel='stylesheet', type='text/css', href='/css/sub03/write.css')
		link(rel='stylesheet', type='text/css', href='/css/cloud.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="/lib/daumeditor-7.3.19/css/editor.css", type="text/css", charset="utf-8")
		link(rel="stylesheet", href="/lib/daumeditor-7.3.19/css/editor.css", type="text/css", charset="utf-8")
		script(src="http://code.jquery.com/jquery-1.7.2.min.js", type="text/javascript")
		script(src="/lib/daumeditor-7.3.19/js/editor_loader.js?environment=development", type="text/javascript", charset="utf-8")
		script(src='/javascript/editor_config.js', type='text/javascript', charset='utf-8')
	body
		#viewport
			#world
		
		include ../common/header
		include ../common/mainMenu
		include ../common/subMenu/subMenu03.jade

		script(type='text/javascript')
			$(document).ready(function(){	
				EditorJSLoader.ready(function(Editor) {
					editor = new Editor(config);
				});
				
				$('#preview').click(function(){
					var content = Editor.getContent();
					var id = $('#id').val();
					var subject = $('#subject').val();
				
					OpenWindow('', 'newWin', 850, 450);
					
					var form = make_action_and_target('/board_preview', 'newWin');
					
					form.appendChild(add_data('tx_content', content));
					form.appendChild(add_data('subject', subject));
					form.appendChild(add_data('id', id));
					
					form.submit();			
				});
			});
        
			function saveContent() {
				Editor.save(); // 이 함수를 호출하여 글을 등록하면 된다.
			}
			function clearContents(element){
				element.value='';
			}
						
		script(type='text/javascript')
			function make_action_and_target(url, target){
				var form = document.createElement('form');
				form.setAttribute('method', 'post');
				form.setAttribute('action', url);
				form.setAttribute('target', target);
				
				document.body.appendChild(form);
				return form;
			}
			
			function add_data(name, value){
				var input = document.createElement('input');
				input.setAttribute('type', 'hidden');
				input.setAttribute('name', name);
				input.setAttribute('value', value);
				
				return input;
			}
	
			function submit(){
				saveContent();
			}
	
		form(name="tx_editor_form", id="tx_editor_form", action="/board_write", method="post", accept-charset="utf-8")
			div#detail03
				div#boardTop
					div#boardTitle= title
				div#boardMiddle
					div#editorHeader
						input(type='text',value='제목을 입력하세요', id='subject', name='subject', onfocus="clearContents(this);")
					div#editorMiddle
						include ../../public/lib/daumeditor-7.3.19/editor_container
					div#editorFooter(style="height:px;width:144px")
						input(type='hidden', name='id', value='#{id}')
						input(type='button', id='preview' ,value='미리보기')
						a(href='javascript:submit();')
							img#submitButton(src='../images/button_submit.png')
					input( type ='button', id='list', value='목록', onClick="location.href='/board/sub3_1'")
			
				div#boardBottom 
		include ../common/footer
		script(src='/javascript/cloud.js', type='text/javascript', charset='utf-8')		