html
	head
		title
			!{title}
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='/css/common.css')
		link(rel='stylesheet', type='text/css', href='/css/admin/adminSub.css')
		link(rel='stylesheet', type='text/css', href='/css/cloud.css')
		link(rel='shortcut icon', href='/images/favicon.gif')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')\
		script(src="http://code.jquery.com/jquery-1.7.2.min.js", type="text/javascript")
		script(src='/javascript/common.js', type='text/javascript', charset='utf-8')
		script(src='/javascript/submit_enter.js', type='text/javascript', charset='utf-8')	
		
		script(src='/javascript/submit_enter.js', type='text/javascript', charset='utf-8')
	body(oncontextmenu="return false",onselectstart="return false",ondragstart="return false")
		#viewport
			#backgrounds
				img(src='/images/cloud/cloud_01.png', style='width: 630px; opacity:0.3; position:absolute; top:230; left:50%; margin-left:-730px;')
				img(src='/images/cloud/cloud_02.png', style='width: 630px; opacity:0.4; position:absolute; top:30; left:50%; margin-left:220px;')
				img(src='/images/cloud/cloud_03.png', style='width: 740px; opacity:0.2; position:absolute; top:730; left:50%; margin-left:-820px;')
				img(src='/images/cloud/cloud_03.png', style='width: 630px; opacity:0.5; position:absolute; top:930; left:50%; margin-left:220px;')
				img(src='/images/cloud/cloud_04.png', style='width: 630px; opacity:0.5; position:absolute; top:430; left:50%; margin-left:500px;')

			#world(style='opacity:0.7')
		
		include ../common/header
		include ../common/mainMenu	
		include ../common/subMenu/subMenu03.jade
		#detail03
			#boardTop
				#boardTitle 게시판 생성
			#boardMiddle
				#wrap(style='margin-left: 10px;')
					#contents
						form(action='/admin/board_make', method='POST')
							label(for='id') Board Id:
							input(type='text', name='id', id='id', onKeyPress='return submit_enter(this,event)')
							br
							label(for='name') Board Name:
							input(type='text', name='name', id='name', onKeyPress='return submit_enter(this,event)')
							br
							label(for='pagingNumber') Board PagingNumber:
							input(type='text', name='pagingNumber', id='pagingNumber', onKeyPress='return submit_enter(this,event)')
							br
							label(for='comm_paging_number') Comment PagingNumber:
							input(type='text', name='comm_paging_number', id='comm_paging_number', onKeyPress='return submit_enter(this,event)')
							br
							label(for='pagingNumber') Board Skin:
							select
								//-for(var i=0; i<skins.length; i++)
									//option(value='#{skins[i]}')
										//!{skins[i]}
							br
							input(type = 'submit', name = 'board_make', id = 'board_make', value = '게시판 생성', class='clickable')br
							input(type='button', name='back_button', onClick='javascript:history.go(-1)', value='이전 페이지로', class='clickable')
			#boardBottom
		include ../common/footer
		script(src='/javascript/cloud.js', type='text/javascript', charset='utf-8')