include ../common/head
include ../common/subHead

body
	include ../common/header
	
	div#container
		div#headHeight
		
		div#left
			include ../inc/leftMenu
		
		div#right 1-1
		
		div#footerHeight
		
		include ../common/footer