html
	head
		title
			!{title}
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='../css/common.css')
		link(rel='stylesheet', type='text/css', href='../css/sub01/sub03.css')
		link(rel='stylesheet', type='text/css', href='../css/cloud.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
	body(oncontextmenu="return false",onselectstart="return false",ondragstart="return false")
		#viewport
			#world
		include ../common/header.jade
		include ../common/mainMenu.jade
		include ../common/subMenu/subMenu01.jade
		script(type="text/javascript")
			$("document").ready(function() {
				$("#menu1_3").attr("style", "opacity:1");
			});
		#detail03
			#detail03Text
				#title 데모
				#contents 실시간 협업, UML 작성, 테마 변경, FTP 기능, 커맨드라인 등 구름이 제공하는 다양한 기능을 미리 경험해 볼 수 있는 데모 영상입니다.
		#detail01
			#boardTop
			#boardMiddle
				#detail01Image
					a(href='')
						img(src='../images/sub01/detailImage03.png')
				#wrap
					#title 데모1
					#contents
						| 구름은 웹 기반의 통합 개발 환경을 제공하는 최초의 한국형 클라우드 통합 개발 환경입니다. 성균관대학교 대학원생 및 재학생을 중심으로 개발되었으며, 구름은 Uizard란 프로젝트 이름으로 2010년 공개SW개발자 대회 국내 학생 부문 은상을 시작으로	2011년 공개SW개발자 대회 베스트 업그레이드상을 수상하였고, 같은 해 NIPA 지원 공개SW커뮤니티 지원 사업 "웹기반 통합 개발 환경 구축 기술 연구 및 개발" 우수과제를 획득 하였습니다. 2012년 프로젝트 명을 구름(goorm)으로 변경하고, 한국을 넘어 세계적인 클라우드 통합 개발 환경을 위해 끊임없이 기능을 개선하고 노력하고 있습니다.
			#boardBottom
		#detail02
			#boardTop
			#boardMiddle
				#detail02Image
					a(href='')
						img(src='../images/sub01/detailImage03.png')
				#wrap
					#title 데모2
					#contents
						| 구름은 웹 기반의 통합 개발 환경을 제공하는 최초의 한국형 클라우드 통합 개발 환경입니다. 성균관대학교 대학원생 및 재학생을 중심으로 개발되었으며, 구름은 Uizard란 프로젝트 이름으로 2010년 공개SW개발자 대회 국내 학생 부문 은상을 시작으로	2011년 공개SW개발자 대회 베스트 업그레이드상을 수상하였고, 같은 해 NIPA 지원 공개SW커뮤니티 지원 사업 "웹기반 통합 개발 환경 구축 기술 연구 및 개발" 우수과제를 획득 하였습니다. 2012년 프로젝트 명을 구름(goorm)으로 변경하고, 한국을 넘어 세계적인 클라우드 통합 개발 환경을 위해 끊임없이 기능을 개선하고 노력하고 있습니다.
			#boardBottom
		#detail01
			#boardTop
			#boardMiddle
				#detail01Image
					a(href='')
						img(src='../images/sub01/detailImage03.png')
				#wrap
					#title 데모3
					#contents
						| 구름은 웹 기반의 통합 개발 환경을 제공하는 최초의 한국형 클라우드 통합 개발 환경입니다. 성균관대학교 대학원생 및 재학생을 중심으로 개발되었으며, 구름은 Uizard란 프로젝트 이름으로 2010년 공개SW개발자 대회 국내 학생 부문 은상을 시작으로	2011년 공개SW개발자 대회 베스트 업그레이드상을 수상하였고, 같은 해 NIPA 지원 공개SW커뮤니티 지원 사업 "웹기반 통합 개발 환경 구축 기술 연구 및 개발" 우수과제를 획득 하였습니다. 2012년 프로젝트 명을 구름(goorm)으로 변경하고, 한국을 넘어 세계적인 클라우드 통합 개발 환경을 위해 끊임없이 기능을 개선하고 노력하고 있습니다.
			#boardBottom
		#detail02
			#boardTop
			#boardMiddle
				#detail02Image
					a(href='')
						img(src='../images/sub01/detailImage03.png')
				#wrap
					#title 데모4
					#contents
						| 구름은 웹 기반의 통합 개발 환경을 제공하는 최초의 한국형 클라우드 통합 개발 환경입니다. 성균관대학교 대학원생 및 재학생을 중심으로 개발되었으며, 구름은 Uizard란 프로젝트 이름으로 2010년 공개SW개발자 대회 국내 학생 부문 은상을 시작으로	2011년 공개SW개발자 대회 베스트 업그레이드상을 수상하였고, 같은 해 NIPA 지원 공개SW커뮤니티 지원 사업 "웹기반 통합 개발 환경 구축 기술 연구 및 개발" 우수과제를 획득 하였습니다. 2012년 프로젝트 명을 구름(goorm)으로 변경하고, 한국을 넘어 세계적인 클라우드 통합 개발 환경을 위해 끊임없이 기능을 개선하고 노력하고 있습니다.
			#boardBottom
		script(src='../javascript/cloud.js', type='text/javascript', charset='utf-8')
		include ../common/footer.jade
